/*-----General styling-----*/
main {
    background-color: $light;
    border-radius: $border-radius;
    padding: $spacer * 3;
}

@include media-breakpoint-down(sm) {
    #main {
        padding: $spacer * 0.75;
    }
}

#back-to-top {
    color: $dark !important;
}

/*-----Spacing layout-----*/

#content {
    margin-bottom: 0 !important;
}

#main {
    margin-bottom: $spacer * 3;
}

@include media-breakpoint-up(xl) {
    #main:has(.landingpage) {
        display: block;
    }
}

/*-----Top navigation-----*/

.navbar-nav .nav-item > a.active {
    color: $primary;
}

header .navbar .navbar-brand {
    font-weight: 800;
}

.search-results {
    background-color: $dark-xx;
}

.search-results a:hover {
    background-color: $dark-x;
}

.input-group-text,
#search-input,
#search-input::placeholder,
.search-result-previews,
.search-result-doc .search-result-doc-title,
.search-no-result {
    color: $light !important;
}

/*-----Size components-----*/

.mw-600 {
    max-width: 600px;
}

main h1,
#main .h1 {
    font-weight: 800 !important;
}

/*-----Custom primary button-----*/

.btn-primary,
.btn-primary:hover,
.btn-primary:active {
    color: $dark !important;
}
.hover-primary:hover,
.hover-primary:focus {
    color: $primary !important;
    background-color: $dark-xx !important;
}

.btn.sidebar-collapse {
    color: $light !important;
}

.landingpage {
    .landing-image {
        max-width:35rem;
    }
    .card {
        border: 1px transparent solid;
        &:hover {
            border-color: rgb(160.5, 237, 183.5);
            outline: 0;
            box-shadow: 0 0 0 0.25rem rgba(66, 219, 112, 0.25);
        }

        .card-img-top {
            padding: 3rem;
        }
    }
}
