/*-----General styling-----*/

main h1,
#main .h1 {
    font-weight: 800 !important;
}

#back-to-top {
    color: $dark !important;
}

/*-----Spacing layout-----*/

@include media-breakpoint-up(xl) {
    #main:has(.landingpage) {
        display: block;
    }
}

#main {
    background-color: $light;
    border-radius: $border-radius;
    padding: $spacer * 3;
    margin-bottom: $spacer * 3;
    #content {
        margin-bottom: 0 !important;
    }
}

@include media-breakpoint-down(sm) {
    #main {
        padding: $spacer * 0.75;
    }
}

/*-----Top navigation-----*/

.navbar-nav .nav-item > a.active {
    color: $primary;
}

header .navbar .navbar-brand {
    font-weight: 800;
}

.search-results {
    background-color: $dark-xx;
}

.search-results a:hover {
    background-color: $dark-x;
}

.input-group-text,
#search-input,
#search-input::placeholder,
.search-result-previews,
.search-result-doc .search-result-doc-title,
.search-no-result {
    color: $light !important;
}

/*-----Custom buttons-----*/

.btn-primary,
.btn-primary:hover,
.btn-primary:active {
    color: $dark !important;
}
.hover-primary:hover,
.hover-primary:focus {
    color: $primary !important;
    background-color: $dark-xx !important;
}

.btn.sidebar-collapse {
    color: $light !important;
}

/*-----Landingpage customizations-----*/

.landingpage {
    .landing-image {
        max-width: 35rem;
    }
    .card {
        border: 1px transparent solid;
        transition: transform 0.15s ease-in-out;
        &:hover {
            border-color: rgb(160.5, 237, 183.5);
            outline: 0;
            box-shadow: 0 0 0 0.25rem rgba(66, 219, 112, 0.25);
            transform: scale(1.05);
        }
    }
}

/*-----Contributor cards-----*/

.contributor-cards .card-title {
    color: $light;
}
